<h1><u>Waiter Availability</u></h1>
<form class="" method="post" action="">
  <ul>
    <li>{{username}}</li>
  </ul>

  <input type="checkbox" name="days" value="Monday" {{#if monday}} checked {{/if}}>Monday<br>
  <input type="checkbox" name="days" value="Tuesday"{{#if tuesday}} checked {{/if}}>Tuesday <br>
  <input type="checkbox" name="days" value="Wednesday"{{#if wednesday}} checked {{/if}}>Wednesday <br>
  <input type="checkbox" name="days" value="Thursday"{{#if thursday}} checked {{/if}}>Thursday <br>
  <input type="checkbox" name="days" value="Friday"{{#if friday}} checked {{/if}}>Friday<br>
  <input type="checkbox" name="days" value="Saturday"{{#if saturday}} checked {{/if}}>Saturday<br>
  <input type="checkbox" name="days" value="Sunday"{{#if sunday}} checked {{/if}}>Sunday
  <br></br>
  <button type="submit" class="btn btn-primary" id="button">SUBMIT</button>
</form>
<br>
<form class="" method="get" action="/logout">
<button type="submit" class="btn btn-primary">LOGOUT</button>
</form>
<br> {{output}}
{{informText}}
