<h1><u>Waiter Availability</u></h1>
<br>
<form class="" method="post" action="/login">
 <div class="container">
   <label><b>Username</b></label>
   <input type="text" placeholder="Enter Username" name="username" required>
<br>
   <label><b>Password</b></label>
   <input type="password" placeholder="Enter Password" name="psw" required>
   <br>
<button type="submit" class="btn btn-primary">LOGIN</button>
 </div>
 </div>
</form>
