<h1><u>Waiter Availability</u></h1>

<form class="" method="post" action="/register">
  <div class="container">
    <label><b>Name</b></label>
    <br>
    <input type="text" placeholder="Enter name" name="username" required>
    <br>
    <label><b>Email</b></label>
    <br>
    <input type="text" placeholder="Enter Email" name="email" required>
<br>
    <label><b>Password</b></label>
    <br>
    <input type="password" placeholder="Enter Password" name="psw" required>
<br>


    <div class="clearfix">
      <button type="submit"  class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>
